body {
  background-color: #333232;
  font-weight: 900;
  color: #fff;
}

.container {
  height: 350px;
  width: 300px;
  background-color: #00A19D;
  margin: 130px auto 0;
  border: 5px solid hsl(71, 73%, 54%);
  padding-bottom: 50px;
  text-align: center;
}

#weight {
  height: 25px;
  width: 250px;
}

#height {
  height: 25px;
  width: 250px;
}

#btn {
  margin-top: 15px;
  height: 30px;
  width: 75px;
  color: #fff;
  background-color: hsl(71, 73%, 54%);
  border-color: hsl(71, 73%, 54%);
}

@media (max-width: 900px) {
  .container {
   margin: 0 auto 0;
  }
}
